.card {
    width: 260px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 12px;
    text-align: center;
    transition: all 0.3s ease;
}

.card:hover {
    border-color: #aaa;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

h2 {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 24px;
}

.img {
    width: 100%;
    max-height: 320px;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
}

.btn {
    margin: 10px;
    padding: 5px 20px;
    border-radius: 10px;
}

.ratingtext {
    font-weight: 600;
    margin: 15px;
}